[directories]
source-dir=/home/genetics/Documents/DEV/Myeloid_backup_tool/TESTDATA/SOURCE
target-dir=/home/genetics/Documents/DEV/Myeloid_backup_tool/TESTDATA/TARGET
filetypes=*.bam,*.bai,*.vcf,*.idx

[coverage]
mindepth=100
bedfile=/home/genetics/Documents/DEV/Myeloid_backup_tool/TESTDATA/BED/myeloid_exons_only.bed