[general]
version=1.0
copy_fastqs=True

[directories]
source-dir=C:\Users\ben\Documents\Work\python_myeloid_coverage\TESTDATA\SOURCE
target-dir=C:\Users\ben\Documents\Work\python_myeloid_coverage\TESTDATA\TARGET
filetypes=*.bam,*.bai,*.vcf,*.idx

[coverage]
mindepth=100
bedfile=C:\Users\ben\Documents\Work\python_myeloid_coverage\TESTDATA\BED\myeloid_exons_only.bed